<!-- IMPLEMENTATION: header
     logo: cftv-logo-full.webp (max-height 60px)
     nav: Give, Funds & Scholarships, Nonprofits, Get Involved, About
     cta: Donate Now button
-->
<header id="top-menu">
  <div class="main-header-area">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-2 col-lg-2 col-md-6 col-6">
          <div class="logo">
            <a class="logo-img" href="/"><img class="cftv-logo" src="/assets/images/logo/cftv-logo-full.webp" alt="Community Foundation of Teton Valley"></a>
          </div>
        </div>
        <div class="col-xl-7 col-lg-7 d-none d-lg-block text-center">
          <div class="main-menu">
            <nav>
              <ul>
                <li><a href="/give/">Give</a>
                  <ul class="submenu">
                    <li><a href="/give/tin-cup-challenger/">Become a Challenger</a></li>
                    <li><a href="/give/start-a-fund/">Start a Fund</a></li>
                    <li><a href="/give/leave-a-legacy/">Leave a Legacy</a></li>
                  </ul>
                </li>
                <li><a href="/funds-scholarships/">Funds & Scholarships</a>
                  <ul class="submenu">
                    <li><a href="/funds-scholarships/memorial-funds/">Memorial Funds</a></li>
                    <li><a href="/funds-scholarships/scholarships/">Scholarships</a></li>
                  </ul>
                </li>
                <li><a href="/nonprofits/">Nonprofits</a>
                  <ul class="submenu">
                    <li><a href="/nonprofits/workshops/">Workshops & Training</a></li>
                    <li><a href="/nonprofits/resources/">Nonprofit Resources</a></li>
                    <li><a href="/nonprofits/apply-for-grants/">Apply for Grants</a></li>
                    <li><a href="/nonprofits/dates-deadlines/">Dates & Deadlines</a></li>
                    <li><a href="/about/programs/#tin-cup">Tin Cup Registration</a></li>
                    <li><a href="/give/start-a-fund/">Agency Funds</a></li>
                  </ul>
                </li>
                <li><a href="/get-involved/">Get Involved</a>
                  <ul class="submenu">
                    <li><a href="/nonprofit-directory/">Nonprofit Directory</a></li>
                    <li><a href="/get-involved/volunteer/">Volunteer Opportunities</a></li>
                    <li><a href="/get-involved/job-board/">Nonprofit Job Board</a></li>
                    <!-- TODO: Uncomment when subscribe is ready
                    <li><a href="/get-involved/subscribe/">Subscribe</a></li>
                    -->
                    <li><a href="/news-events/#community-calendar">Community Calendar</a></li>
                  </ul>
                </li>
                <li><a href="/about/">About</a>
                  <ul class="submenu">
                    <li><a href="/about/programs/">Programs</a></li>
                    <li><a href="/about/mission-values/">Mission & Values</a></li>
                    <li><a href="/about/staff-board/">Staff & Board</a></li>
                    <li><a href="/about/annual-reports/">Annual Reports</a></li>
                    <li><a href="/about/strategic-plan/">Strategic Plan</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-6 text-end">
          <div class="hamburger-menu d-md-block d-lg-none">
            <a href="javascript:void(0);">
              <i class="far fa-bars"></i>
            </a>
          </div>
          <div class="quote-btn d-none d-lg-block">
            <a href="/give/" class="theme_btn theme_btn_bg">Donate Now <span></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Mobile Menu -->
<aside class="slide-bar">
  <div class="close-mobile-menu">
    <a href="javascript:void(0);"><i class="fas fa-times"></i></a>
  </div>
  <nav class="side-mobile-menu">
    <ul>
      <li class="has-dropdown">
        <a href="/give/">Give</a>
        <ul class="submenu" style="display: none;">
          <li><a href="/give/tin-cup-challenger/">Become a Challenger</a></li>
          <li><a href="/give/start-a-fund/">Start a Fund</a></li>
          <li><a href="/give/leave-a-legacy/">Leave a Legacy</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="/funds-scholarships/">Funds & Scholarships</a>
        <ul class="submenu" style="display: none;">
          <li><a href="/funds-scholarships/memorial-funds/">Memorial Funds</a></li>
          <li><a href="/funds-scholarships/scholarships/">Scholarships</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="/nonprofits/">Nonprofits</a>
        <ul class="submenu" style="display: none;">
          <li><a href="/nonprofits/workshops/">Workshops & Training</a></li>
          <li><a href="/nonprofits/resources/">Nonprofit Resources</a></li>
          <li><a href="/nonprofits/apply-for-grants/">Apply for Grants</a></li>
          <li><a href="/nonprofits/dates-deadlines/">Dates & Deadlines</a></li>
          <li><a href="/about/programs/#tin-cup">Tin Cup Registration</a></li>
          <li><a href="/give/start-a-fund/">Agency Funds</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="/get-involved/">Get Involved</a>
        <ul class="submenu" style="display: none;">
          <li><a href="/nonprofit-directory/">Nonprofit Directory</a></li>
          <li><a href="/get-involved/volunteer/">Volunteer Opportunities</a></li>
          <li><a href="/get-involved/job-board/">Nonprofit Job Board</a></li>
          <!-- TODO: Uncomment when subscribe is ready
          <li><a href="/get-involved/subscribe/">Subscribe</a></li>
          -->
          <li><a href="/news-events/#community-calendar">Community Calendar</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="/about/">About</a>
        <ul class="submenu" style="display: none;">
          <li><a href="/about/programs/">Programs</a></li>
          <li><a href="/about/mission-values/">Mission & Values</a></li>
          <li><a href="/about/staff-board/">Staff & Board</a></li>
          <li><a href="/about/annual-reports/">Annual Reports</a></li>
          <li><a href="/about/strategic-plan/">Strategic Plan</a></li>
        </ul>
      </li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </nav>
</aside>
