<!-- IMPLEMENTATION: tcc-banner
     Gold promo banner directly below the hero (post-campaign thank-you).
     LEFT: h2 heading + supporting paragraphs (left-aligned)
     RIGHT: Tinny mascot image (transparent PNG)
     WP BLOCK: heading + body text + image field
-->
<section class="tcc-banner">
  <div class="container">
    <div class="tcc-banner__inner">
      <div class="tcc-banner__content">
        <h2 class="tcc-banner__heading">Thank You</h2>
        <p>Thank you for being part of another Tin Cup Challenge. Because of you, local nonprofits will continue to strengthen the people, places, and programs that make Teton Valley thrive. We are grateful to everyone who ran, volunteered, donated, and cheered on this community tradition.</p>
        <p>This year's results will be posted at the end of August.</p>
      </div>
      <div class="tcc-banner__cta">
        <div class="tcc-banner__media">
          <img src="/assets/images/home/tinny-mascot.png" alt="Tinny, the Tin Cup Challenge mascot, running" width="900" height="740" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</section>
