<!-- IMPLEMENTATION: utility-nav
     links: Subscribe, News & Events, Contact, Search, Login
     visibility: Hidden on mobile (d-none d-lg-block)
-->
<div class="utility-nav d-none d-lg-block">
  <div class="container">
    <div class="utility-links">
      <!-- TODO: Uncomment when subscribe is ready
      <a href="/get-involved/subscribe/">Subscribe</a>
      -->
      <a href="/news-events/">News & Events</a>
      <a href="/contact/">Contact</a>
      <!-- TODO: Restore search when WordPress is live
      <a href="/search/"><i class="far fa-search"></i> Search</a>
      -->
      <a href="javascript:void(0);" class="login-trigger">Login</a>
    </div>
  </div>
</div>
