---
layout: base.njk
title: "Booth Hosting Guidelines - Community Foundation of Teton Valley"
description: "Guidelines for nonprofits hosting a booth at the Tin Cup Challenge Event Day in Driggs City Park."
permalink: /media-kit/booth-hosting-guidelines/
heroHeading: "Booth Hosting Guidelines"
heroText: ""
---
<!-- PAGE: booth-hosting-guidelines
     background: solid-white
     theme: light
     notes: Guidelines for nonprofits hosting a booth at Tin Cup Challenge Event Day
-->

{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main id="main-content">
  {% include "page-hero.njk" %}

  <section class="media-kit pt-80 pb-80">
    <div class="container">
      <div class="media-kit__section">
        <p class="media-kit__text media-kit__text--left"><strong>Congratulations!</strong> Your organization has been awarded a booth space at the 17<sup>th</sup> Annual Tin Cup Challenge Event Day &ndash; Saturday, July 20, 2024 in Driggs City Park.</p>

        <ul class="media-kit__guidelines">
          <li>Fill out the <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=EBdPsDO3o0GrBmACBbg-V28nHUEDs8hBm2rL4eRDqpFUMlpSOUY0REdESkRYQzNKR09aMFVCUUZQMiQlQCN0PWcu" target="_blank" rel="noopener noreferrer">Booth Hosting Form</a>. All nonprofits hosting a booth must complete the form by <strong>Tuesday, May 28 at 5pm</strong>.</li>
          <li>A 10&rsquo;x10&rsquo; booth space will be provided for each nonprofit at the Driggs City Park. Depending on the nature of your booth&rsquo;s activity, you may benefit from a larger space. If so, please indicate this special request on the Booth Hosting Form. Please note, we may not be able to accommodate all special requests and will grant them on a first-come, first-serve basis.</li>
          <li>Booth locations will be assigned to each organization. We will notify you of your booth&rsquo;s location by Wednesday, July 5.</li>
          <li>Booth check-in and set-up is from 7 &ndash; 8:30 AM on Event Day. <strong>No early birds!</strong> Your booth should be open and ready for event attendees by 8:30 AM. Tin Cup Challenge Event Day ends at noon. <strong>Please do not take down your booth early!</strong></li>
          <li>There will be temporary parking spaces available along the north (Ashley Ave.) and west (1<sup>st</sup> St.) borders of the Driggs City Park (near the event stage), for loading and unloading. Please be respectful of your fellow nonprofits and move vehicles once loading/unloading is complete.</li>
          <li>Set-up and teardown of your booth is the sole responsibility of your organization. Please bring all items necessary for your booth&rsquo;s display (tent, tables, chairs, literature, activity supplies, trash bags, etc.). Please leave your booth space and the area surrounding it in the same or a better condition than you found it.</li>
          <li>We encourage all nonprofits to come prepared for inclement weather.</li>
          <li>The most successful booths are creative, interactive, and engage attendees in your organization&rsquo;s mission in our community. Please be aware that local regulations might impact the extent of your interactive activities. Please be prepared to follow local health and safety guidelines.</li>
          <li>In our on-going effort to reduce waste and impact during the Tin Cup Event Day, we encourage you to think along environmentally friendly lines for your booth activities. Let&rsquo;s keep plastic and disposable items to a minimum and help keep our community sustainable! If you are doing a giveaway, please consider durable, creative, recycled, or reusable items.</li>
          <li>Please be sure to have hosts at your booth who are knowledgeable about your mission and enthusiastic ambassadors of your organization &ndash; such as staff or board members.</li>
          <li>NO FINANCIAL TRANSACTIONS are allowed at your booth on event day. Please do not offer any items for sale and send donors to the Community Foundation tent next to the stage.</li>
        </ul>

        <p class="media-kit__text media-kit__text--left mt-40"><strong>Booth Hosting Form is due on Tuesday, May 28 at 5:00pm.</strong></p>
      </div>
    </div>
  </section>

</main>

{% include "footer.njk" %}
