---
layout: base.njk
title: 13th Annual Tin Cup Challenge Update - Community Foundation of Teton Valley
description: "Press Release: The opening of the 13th Annual Tin Cup Challenge Giving Period is just weeks away, beginning on June 1st, 2020. As the Teton Valley community con"
permalink: /news-events/13th-annual-tin-cup-challenge-update-2/
date: 2020-05-11T17:23:27
newsPost: true
newsTag: Tin Cup
newsExcerpt: "Press Release: The opening of the 13th Annual Tin Cup Challenge Giving Period is just weeks away, beginning on June 1st, 2020. As the Teton Valley community continues trying to understand how …"
newsImage: /assets/images/news/47036.webp
heroHeading: News & Events
heroText: ""
heroImage: /assets/images/news/47036.webp
---
{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main>
  {% include "page-hero.njk" %}

  <article class="post-detail">
    <div class="container">
      <div class="post-detail__inner">

        <div class="post-detail__meta">
          <span class="post-card__tag">Tin Cup</span>
          <span class="post-detail__date">May 11, 2020</span>
        </div>

        <h1 class="post-detail__title">13th Annual Tin Cup Challenge Update</h1>

        <div class="post-detail__featured-image">
          <img src="/assets/images/news/47036.webp" alt="13th Annual Tin Cup Challenge Update" loading="lazy">
        </div>

        <div class="post-detail__content">
          <h2>Press Release:</h2>

<p>The opening of the 13<sup>th</sup>&nbsp;Annual Tin Cup Challenge Giving Period is just weeks away, beginning on June 1<sup>st</sup>, 2020.&nbsp;&nbsp;As the Teton Valley community continues trying to understand how our valley will be impacted by COVID-19, we want to share with you that the Community Foundation will be doing its part to address local nonprofit needs by proceeding with the 13<sup>th</sup>&nbsp;Annual Tin Cup Challenge Giving Period.&nbsp;</p>

<p>In order to accommodate health, safety, and unknown variables associated with COVID-19, it is with heavy hearts that the Community Foundation of Teton Valley has made a decision not to host Tin Cup Event Day at the Driggs City Park on July 18<sup>th</sup>.&nbsp;&nbsp;Instead, the Community Foundation will have a variety of ways to celebrate the valuable work of our local nonprofits on July 18<sup>th&nbsp;</sup>– stay tuned!&nbsp;&nbsp;Additionally, there will be other opportunities to engage throughout the Giving Period from June 1<sup>st</sup>&nbsp;to July 24<sup>th</sup>. We look forward to sharing these with you and hope you will join in the celebrations, as we all support our community together.</p>

<p>Because this is a unique year, the Community Foundation of Teton Valley is making thoughtful, strategic decisions around decreasing Tin Cup Challenge expenses, such as not printing T-shirts, to ensure there is more funding available for nonprofits. The Foundation is committed to making sure that donations made during the Tin Cup Challenge are leveraged to the highest capacity. Savings from the decreases in spending will be redistributed to participating nonprofits through the Challenger Fund.&nbsp;&nbsp;</p>

<p>During June and through July 24<sup>th</sup>, the Community Foundation encourages everyone to go to&nbsp;<a href="https://cftetonvalley.us1.list-manage.com/track/click?u=68e68490fdddc7a44915a9c7a&amp;id=ec61d1c1aa&amp;e=7003933c73" target="_blank" rel="noopener noreferrer nofollow">www.TinCupChallenge.org</a>&nbsp;and donate to the hard-working nonprofits that provide critical services to our community. The Community Foundation of Teton Valley will have a booth at the Driggs Farmers’ Market on Fridays beginning in June and we hope you’ll stop by to get information or drop off your Tin Cup Donation.&nbsp;&nbsp;</p>

<p>Tim Adams, Executive Director of the Community Foundation reiterates that “although we have had to make a very difficult decision, I am confident our community will understand and join the Community&nbsp;Foundation in supporting our nonprofits through the Tin Cup Challenge. Teton Valley continually rises above all expectations to support our valley in times of need.&#8221;</p>

<p>The Tin Cup Challenge raises funds that help ensure the sustainability of local nonprofits and the continuation of their valued contributions to our community. This year, we anticipate that the Tin Cup Challenge will be more important than ever before in our 12-year history. For many nonprofits, the Tin Cup Challenge is their largest fundraiser of the year, helping to cover necessary operational costs. The Community Foundation is dedicated to moving forward to help them achieve positive results.</p>

<p>We hope you’ll join us in support of the important work of our local nonprofits by participating with a donation, engaging in social media challenges, and July 18<sup>th</sup>&nbsp;activities. On August 20<sup>th</sup>, the Community Foundation will host our Annual Nonprofit Tin Cup Challenge Awards Ceremony when our nonprofits, Challengers, and generous community members celebrate together.&nbsp;</p>
        </div>

        <div class="post-detail__back">
          <a href="/news-events/" class="theme_btn theme_btn_bg">Back to News & Events <span></span></a>
        </div>

      </div>
    </div>
  </article>

  <section class="cta-banner">
    <div class="container">
      <div class="cta-banner__content">
        <h2 class="cta-banner__heading">Stay <span>in the loop</span></h2>
        <p class="cta-banner__text">Subscribe to our newsletter for grant announcements, event invites, and community stories.</p>
      </div>
      <div class="cta-banner__action">
        <a href="/get-involved/subscribe/" class="theme_btn theme_btn_bg theme_btn--light">Subscribe <span></span></a>
      </div>
    </div>
  </section>
</main>

{% include "footer.njk" %}
