---
layout: base.njk
title: $60,000 Raised for the Community Emergency Response Fund - Community Foundation of Teton Valley
description: The Community Foundation of Teton Valley is grateful to announce that an outpouring of support, over the course of one week, has doubled the newly activated Com
permalink: /news-events/60000-raised-for-the-community-emergency-response-fund-2/
date: 2020-03-26T14:33:51
newsPost: true
newsTag: Foundation
newsExcerpt: The Community Foundation of Teton Valley is grateful to announce that an outpouring of support, over the course of one week, has doubled the newly activated Community Emergency Response Fund now total
newsImage: /assets/images/news/47467.webp
heroHeading: News & Events
heroText: ""
heroImage: /assets/images/news/47467.webp
---
{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main id="main-content">
  {% include "page-hero.njk" %}

  <article class="post-detail">
    <div class="container">
      <div class="post-detail__inner">

        <div class="post-detail__meta">
          <span class="post-card__tag">Foundation</span>
          <span class="post-detail__date">March 26, 2020</span>
        </div>

        <h1 class="post-detail__title">$60,000 Raised for the Community Emergency Response Fund</h1>

        <div class="post-detail__featured-image">
          <img src="/assets/images/news/47467.webp" alt="$60,000 Raised for the Community Emergency Response Fund" loading="lazy">
        </div>

        <div class="post-detail__content">
          <p>The Community Foundation of Teton Valley is grateful to announce that an outpouring of support, over the course of one week, has doubled the newly activated&nbsp;<em>Community Emergency Response Fund</em>&nbsp;now totaling $60,000.&nbsp;Initial contributions came from the Community Foundation of Teton Valley, the Community Foundation of Jackson Hole,&nbsp;and Tin Cup Challengers&nbsp;to support local nonprofits in helping those directly impacted by COVID-19. As the COVID-19 pandemic continues to unfold, the Community Foundation is striving to ensure that the Response Fund’s resources increase in tandem with our community’s rapidly evolving needs.</p>

<p>In addition to the outpouring of support from local community members, the Teton Springs Foundation contributed a generous gift of $15,000 to support the&nbsp;<em>Community</em>&nbsp;<em>Emergency Response Fund</em>.&nbsp; This fund will assist Teton Valley’s nonprofit organizations that are poised to assist&nbsp;individuals and groups with immediate, essential health and human care needs.</p>

<p>The&nbsp;Foundation has already begun to help the most vulnerable in the community by distributing grant funds to two local nonprofits: the Community Resource Center of Teton Valley and the Teton Valley Food Pantry. “It is with sincere appreciation for the outpouring of donations to support our valley, that we can assist the community in this time of need,” said Executive Director, Tim Adams. It’s anticipated that community needs will likely be significant. For those interested in contributing to the Community Emergency Response Fund, we encourage you to donate at&nbsp;<a href="https://cftetonvalley.org/">www.cftetonvalley.org</a>, where we also have additional information on COVID-19 resources for nonprofits.</p>

<h2>Donate Here:</h2>

<a href="https://cfjh.iphiview.com/cfjh/DonorView/AccountInformation/tabid/495/dispatch/accountselection_id$11241_hash$51e4a248aa864d2331b21429820ccb32af24ffc0/Default.aspx" target="_blank" rel="noopener noreferrer nofollow">Community Emergency Response Fund</a>

<h2>Thank you for your support.</h2>
        </div>

        <div class="post-detail__back">
          <a href="/news-events/" class="theme_btn theme_btn_bg">Back to News & Events <span aria-hidden="true"></span></a>
        </div>

      </div>
    </div>
  </article>

  <section class="cta-banner">
    <div class="container">
      <div class="cta-banner__content">
        <h2 class="cta-banner__heading">Stay <span>in the loop</span></h2>
        <p class="cta-banner__text">Subscribe to our newsletter for grant announcements, event invites, and community stories.</p>
      </div>
      <div class="cta-banner__action">
        <a href="/get-involved/subscribe/" class="theme_btn theme_btn_bg theme_btn--light">Subscribe <span aria-hidden="true"></span></a>
      </div>
    </div>
  </section>
</main>

{% include "footer.njk" %}
