---
layout: base.njk
title: Community Foundation Welcomes Newest Board Members - Community Foundation of Teton Valley
description: "-2016 Community Foundation of Teton Valley Board & Staff Back Row (L-R): Dawn Banks, Jerod Pfeffer, Gene Marcowka Middle Row (L-R): Tina Culman, Karen Scheid, L"
permalink: /news-events/community-foundation-welcomes-newest-board-members/
date: 2016-11-04T19:29:53
newsPost: true
newsTag: Foundation
newsExcerpt: "-2016 Community Foundation of Teton Valley Board & Staff Back Row (L-R): Dawn Banks, Jerod Pfeffer, Gene Marcowka Middle Row (L-R): Tina Culman, Karen Scheid, LeAnn Talbot, Jeanne Anderson, Nan …"
newsImage: /assets/images/news/49397.webp
heroHeading: News & Events
heroText: ""
heroImage: /assets/images/news/49397.webp
---
{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main id="main-content">
  {% include "page-hero.njk" %}

  <article class="post-detail">
    <div class="container">
      <div class="post-detail__inner">

        <div class="post-detail__meta">
          <span class="post-card__tag">Foundation</span>
          <span class="post-detail__date">November 4, 2016</span>
        </div>

        <h1 class="post-detail__title">Community Foundation Welcomes Newest Board Members</h1>

        <div class="post-detail__featured-image">
          <img src="/assets/images/news/49397.webp" alt="Community Foundation Welcomes Newest Board Members" loading="lazy">
        </div>

        <div class="post-detail__content">
          <p>-2016 Community Foundation of Teton Valley Board &amp; Staff<br />
Back Row (L-R):<em> Dawn Banks, Jerod Pfeffer, Gene Marcowka  </em>Middle Row (L-R):<em> Tina Culman, Karen Scheid, LeAnn Talbot, Jeanne Anderson, Nan Pugh Front Row (L-R): Herb Heimerl, Missy Colyer, Carrie Mowrey, Nancy Siverd, Susan Lykes<br />
Not Pictured: Tim Watters, John Finley, Daina Middleton</em></p>
<p>[vc_row][vc_column][vc_column_text]<span>Great teams are not born, they are made through the collective and selfless work of individuals committed to a common goal and purpose. It is about gathering together the right people with the right skills, background and passion to help move the mission forward, and nowhere is that more important than in the work of a nonprofit.  In October, the Community Foundation of Teton Valley welcomed 2 Teton Valley luminaries to their Board of Directors, rounding out an all-star team tasked with improving lives through the power of generosity.</span></p>
<p><span>Like many residents, Nan Pugh first came to Teton Valley seven years ago for the snow and mountains, but stayed for the community. “I stayed because I love the community. We live in a place that takes care of others. Many people here don&#8217;t have blood family nearby but, instead, have come to rely on friends as a part of their family network. This is not an easy place to live, from the harsh environment to the economy, the people who do stay are resilient folks who work hard to make a life,” said Pugh, one of the new additions to the Community Foundation of Teton Valley Board of Directors.</span></p>
<p><span>No stranger to the world of nonprofits, Pugh served as executive director of the Pugh Family Foundation in Lafayette, Louisiana before stepping down to focus her energy on her work in Teton Valley, particularly her role as the Zone 5 Teton County School District 401 Board Member. In addition to her work on the school board, Nan also serves as Secretary for the Teton Valley Education Foundation Board of Directors, and is a member of the Rotary Club of Teton Valley. In her new role with the Community Foundation, she is most excited about being a part of an organization that has such a large impact on the Teton Valley community and the opportunity to address some of the issues and needs as she understands them. According to Pugh, “I tend to think outside of the box with new ideas from a different perspective. I am eager to use that skill and my understanding of community needs, particularly in education, to leverage the impact we have in our community.”</span></p>
<p><span>Hailing from Anoka, Minnesota, which she is quick to point out is the Halloween Capital of the World, LeAnn Talbot, along with her husband Tom, first found Teton Valley in 1980. “I began my telecommunications career with Mountain Bell in Wyoming. My job took me all over the state, including Grand Teton National Park. When we found Teton Valley, we fell in love and bought property along the river,” said Talbot, also a new addition to the Community Foundation of Teton Valley’s Board of Directors.</span></p>
<p><span>In 1999, the couple was finally able to build a home on their property and by 2004 the family lived here permanently, with their son graduating from Teton High School.  Their stay in Teton Valley was briefly interrupted, however, in 2009 when a former boss called LeAnn and asked her to come back to work. Now the Talbot’s are back for good, LeAnn having retired in 2015 as a Senior Vice President with Comcast. Talbot said, “With Tom’s service in the Air Force and my career, we’ve moved 19 times. Through all our moves, our home here in Victor has been our stability and where we set our roots.”</span></p>
<p><span>Though she has enjoyed an illustrious career in telecommunications spanning 35 years, including leading a team of 6,000 employees through Hurricane Sandy recovery as well as being a featured leader in the Franklin Covey bestseller “The Four Disciplines of Execution,” she feels most complete when she is able to give back. Talbot said, “I grew up with humble beginnings but learned from my parents that you always shared because there was someone who needed more. I can’t imagine a life without service as a key part of it and I’m honored to be a part of this board that allows me to help preserve and better life for my family, friends and community,”</span></p>
<p><span>Their stories are not the same but their destination, Teton Valley, and their desire and passion for service are common ground that they share with the rest of the Community Foundation of Teton Valley Board of Directors. Says Carrie Mowrey, executive director of the Foundation, “Nan and LeAnn each bring an incredible skill set and unique perspective that will prove highly valuable in assisting us to achieve the mission of the Community Foundation, which is to improve lives through the power of generosity. We look forward to further sharing their talents and insight with the community.”  </span>[/vc_column_text][/vc_column][/vc_row][vc_row][vc_column width=&#8221;1/2&#8243;][vc_single_image image=&#8221;5304&#8243; add_caption=&#8221;yes&#8221; alignment=&#8221;center&#8221;][/vc_column][vc_column width=&#8221;1/2&#8243;][vc_single_image image=&#8221;5305&#8243; add_caption=&#8221;yes&#8221; alignment=&#8221;center&#8221;][/vc_column][/vc_row]</p>
        </div>

        <div class="post-detail__back">
          <a href="/news-events/" class="theme_btn theme_btn_bg">Back to News & Events <span aria-hidden="true"></span></a>
        </div>

      </div>
    </div>
  </article>

  <section class="cta-banner">
    <div class="container">
      <div class="cta-banner__content">
        <h2 class="cta-banner__heading">Stay <span>in the loop</span></h2>
        <p class="cta-banner__text">Subscribe to our newsletter for grant announcements, event invites, and community stories.</p>
      </div>
      <div class="cta-banner__action">
        <a href="/get-involved/subscribe/" class="theme_btn theme_btn_bg theme_btn--light">Subscribe <span aria-hidden="true"></span></a>
      </div>
    </div>
  </section>
</main>

{% include "footer.njk" %}
