---
layout: base.njk
title: Count-Down to Tin Cup Event Day - Community Foundation of Teton Valley
description: "Count down to Tin Cup Event Day with the Community Foundation of Teton Valley."
permalink: /news-events/count-down-to-tin-cup-event-day-2/
date: 2019-07-10T18:44:17
newsPost: true
newsTag: Tin Cup
newsExcerpt: "Count down to Tin Cup Event Day with the Community Foundation of Teton Valley."
newsImage: /assets/images/news/47291.webp
heroHeading: News & Events
heroText: ""
heroImage: /assets/images/news/47291.webp
---
{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main id="main-content">
  {% include "page-hero.njk" %}

  <article class="post-detail">
    <div class="container">
      <div class="post-detail__inner">

        <div class="post-detail__meta">
          <span class="post-card__tag">Tin Cup</span>
          <span class="post-detail__date">July 10, 2019</span>
        </div>

        <h1 class="post-detail__title">Count-Down to Tin Cup Event Day</h1>

        <div class="post-detail__featured-image">
          <img src="/assets/images/news/47291.webp" alt="Count-Down to Tin Cup Event Day" loading="lazy">
        </div>

        <div class="post-detail__content">
          <p>[vc_row][vc_column][vc_row_inner][vc_column_inner width=&#8221;1/3&#8243;][/vc_column_inner][vc_column_inner width=&#8221;1/3&#8243;][vc_single_image image=&#8221;7695&#8243; img_size=&#8221;medium&#8221;][/vc_column_inner][vc_column_inner width=&#8221;1/3&#8243;][/vc_column_inner][/vc_row_inner][vc_separator][/vc_column][/vc_row][vc_row][vc_column width=&#8221;1/2&#8243;][vc_column_text]</p>
<h2><span><strong>Tin Cup Event Day</strong></span></h2>
<div><span><strong>Saturday, July 20th<br />
Driggs City Park<br />
9am-Noon</strong></span>
<p>[/vc_column_text][/vc_column][vc_column width=&#8221;1/2&#8243;][vc_column_text]Join friends, neighbors, and community members to celebrate our tireless nonprofits and amazing community with 5K &amp; 10K Competitive Runs, a 5K Fun Run/Walk, free breakfast, nonprofit booths, the Moose Gumbo Band and more.[/vc_column_text][/vc_column][/vc_row][vc_row][vc_column][vc_separator][/vc_column][/vc_row][vc_row][vc_column width=&#8221;1/3&#8243;][vc_single_image image=&#8221;7767&#8243; img_size=&#8221;medium&#8221;][vc_column_text]</p>
<h3><span><strong>Nonprofit Booths</strong></span></h3>
<div>​Check out <strong>45</strong> nonprofit booths this year! They include exciting, challenging, educational, and fun activities like making your own smoothie with bike power, Soap Hockey, a slack line, a hot air balloon, a flight simulator, a water balloon dunk station, horses, and lots of 4-H animals &#8211; just to name a few.
<div>
<div><a href="https://cftetonvalley.org/tin-cup-challenge/tin-cup-challenge-participating-nonprofits-2/" data-vr2-href-id-source="vr2-href-id-source-4">47 Nonprofits</a> are participating in this year&#8217;s Tin Cup Challenge.
<p>[/vc_column_text][/vc_column][vc_column width=&#8221;1/3&#8243;][vc_single_image image=&#8221;7768&#8243; img_size=&#8221;medium&#8221;][vc_column_text]</p>
<h3><span><strong>Spirit Awards</strong></span></h3>
<div>
<p>Bring the force of your nonprofit to the race course! Remind folks why they’re running by running as a team in full regalia that represents your nonprofit.</p>
<p><strong>1st Place</strong><br />
$200 nonprofit bucks<br />
<strong>2nd Place </strong><br />
$100 nonprofit bucks<br />
<strong>​3rd Place<br />
​</strong>$75 nonprofit bucks</p>
<h3><span><strong>Dawn Banks Nonprofit Leadership Award</strong></span></h3>
<p>$1,000 Grant​</p>
<h3><span><strong>Race Awards</strong></span></h3>
<p>A variety of nonprofit bucks, <a href="https://www.liquidhardware.com" data-vr2-href-id-source="vr2-href-id-source-7" target="_blank" rel="noopener noreferrer nofollow">Liquid Hardware</a> cups, <a href="https://www.facebook.com/VictorEmporium/" data-vr2-href-id-source="vr2-href-id-source-10" target="_blank" rel="noopener noreferrer nofollow">Victor Emporium</a> milkshakes, and <a href="https://www.driggspharmacy.com/" data-vr2-href-id-source="vr2-href-id-source-13" target="_blank" rel="noopener noreferrer nofollow">Corner Drug</a> ice cream will be distributed to winners of the various <a href="https://cftetonvalley.org/tin-cup-challenge-race/" data-vr2-href-id-source="vr2-href-id-source-16">race categories</a>.</p>

<p>[/vc_column_text][/vc_column][vc_column width=&#8221;1/3&#8243;][vc_single_image image=&#8221;7769&#8243; img_size=&#8221;medium&#8221;][vc_column_text]</p>
<h3><span><strong>Event Schedule</strong></span></h3>
<div>​<strong>7:30am &#8211; 8:30am</strong>
<div>
<p>Race Registration</p>
<p><strong>8:45am</strong><br />
Opening Ceremony</p>
<p><strong>9:00am-Noon</strong><br />
Nonprofit Booths, Activities &amp; Entertainment<br />
<strong>9am</strong><br />
Competitive Races Start<br />
<strong>9:03am</strong><br />
5K Fun Run/Walk Start<br />
<strong>10:15am</strong><br />
Diaper Derby<br />
<strong>10:30am</strong><br />
Awards Ceremony<br />
<strong>11:00am</strong><br />
Folkloric Dance Group</p>

<p>[/vc_column_text][/vc_column][/vc_row][vc_row][vc_column][vc_separator][vc_column_text]</p>
<h2><span>Giving Period ends Friday, July 26th at 5 pm.</span></h2>
<p>[/vc_column_text][dt_button link=&#8221;Count-Down to Tin Cup Event Day&#8221; button_alignment=&#8221;center&#8221; bg_color_style=&#8221;custom&#8221; bg_color=&#8221;#9e0606&#8243; bg_hover_color_style=&#8221;custom&#8221; bg_hover_color=&#8221;#991400&#8243;]Donate Now![/dt_button][vc_separator][/vc_column][/vc_row][vc_row][vc_column width=&#8221;1/2&#8243;][vc_single_image image=&#8221;7772&#8243; img_size=&#8221;medium&#8221;][vc_column_text]</p>
<h3><span><strong>Register to Run</strong></span></h3>
<div>5K Competitive Run
<div>10K Competitive Run
<div>5K Fun Run/Walk
<p>[/vc_column_text][dt_button link=&#8221;https://www.raceentry.com/races/12th-annual-tin-cup-challenge/2019/register&#8221; button_alignment=&#8221;center&#8221; bg_color_style=&#8221;custom&#8221; bg_color=&#8221;#990000&#8243; bg_hover_color_style=&#8221;custom&#8221; bg_hover_color=&#8221;#991400&#8243;]Register Here[/dt_button][/vc_column][vc_column width=&#8221;1/2&#8243;][vc_single_image image=&#8221;7771&#8243; img_size=&#8221;medium&#8221;][vc_column_text]</p>
<h3><span><strong>Volunteer</strong></span></h3>
<div><strong>​</strong>Want to get involved? From T-shirt folding beforehand to Flagging the race, there&#8217;s something for everyone.
<p>[/vc_column_text][dt_button link=&#8221;https://cftetonvalley.org/sheet/tin-cup-challenge-volunteer-sign-up-2/&#8221; button_alignment=&#8221;center&#8221; bg_color_style=&#8221;custom&#8221; bg_color=&#8221;#9e0606&#8243; bg_hover_color_style=&#8221;custom&#8221; bg_hover_color=&#8221;#991400&#8243;]Sign-up Here![/dt_button][/vc_column][/vc_row][vc_row][vc_column][vc_separator][/vc_column][/vc_row][vc_row][vc_column width=&#8221;1/2&#8243;][vc_single_image image=&#8221;7770&#8243; img_size=&#8221;medium&#8221;][/vc_column][vc_column width=&#8221;1/2&#8243;][vc_column_text]</p>
<h3><span><strong>Farmer&#8217;s Market</strong></span></h3>
<div>
<p>Stop by our booth at the Farmer&#8217;s Market, every Friday through the end of the Giving Period, where you can:</p>

<div><strong>​√ Donate to Nonprofits<br />
√  Register to Run/Walk<br />
√ </strong><strong> Pick up your T-Shirt!</strong>
<p>[/vc_column_text][/vc_column][/vc_row]</p>
        </div>

        <div class="post-detail__back">
          <a href="/news-events/" class="theme_btn theme_btn_bg">Back to News & Events <span aria-hidden="true"></span></a>
        </div>

      </div>
    </div>
  </article>

  <section class="cta-banner">
    <div class="container">
      <div class="cta-banner__content">
        <h2 class="cta-banner__heading">Stay <span>in the loop</span></h2>
        <p class="cta-banner__text">Subscribe to our newsletter for grant announcements, event invites, and community stories.</p>
      </div>
      <div class="cta-banner__action">
        <a href="/get-involved/subscribe/" class="theme_btn theme_btn_bg theme_btn--light">Subscribe <span aria-hidden="true"></span></a>
      </div>
    </div>
  </section>
</main>

{% include "footer.njk" %}
