---
layout: base.njk
title: Teton Valley, Idaho Community Emergency Response Fund Update - Community Foundation of Teton Valley
description: In March of 2020, the Community Foundation of Teton Valley activated the Community Emergency Response Fund to support local nonprofits helping those directly im
permalink: /news-events/teton-valley-idaho-community-emergency-response-fund-update/
date: 2021-10-07T19:42:39
newsPost: true
newsTag: Grants
newsExcerpt: In March of 2020, the Community Foundation of Teton Valley activated the Community Emergency Response Fund to support local nonprofits helping those directly impacted by COVID-19. Since that time the 
newsImage: /assets/images/news/50222.webp
heroHeading: News & Events
heroText: ""
heroImage: /assets/images/news/50222.webp
---
{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main>
  {% include "page-hero.njk" %}

  <article class="post-detail">
    <div class="container">
      <div class="post-detail__inner">

        <div class="post-detail__meta">
          <span class="post-card__tag">Grants</span>
          <span class="post-detail__date">October 7, 2021</span>
        </div>

        <h1 class="post-detail__title">Teton Valley, Idaho Community Emergency Response Fund Update</h1>

        <div class="post-detail__featured-image">
          <img src="/assets/images/news/50222.webp" alt="Teton Valley, Idaho Community Emergency Response Fund Update" loading="lazy">
        </div>

        <div class="post-detail__content">
          <p>In March of 2020, the Community Foundation of Teton Valley activated the <a href="https://cftetonvalley.org/community-emergency-response-fund/">Community Emergency Response Fund</a> to support local nonprofits helping those directly impacted by COVID-19. Since that time the Foundation has rapidly deployed over $90,000 in grants to enable nonprofits to focus on providing vital, frontline services associated with and addressing the effects of the pandemic on our community.</p>

<p>Although it has now been over 18 months since the fund was activated, the Community Foundation of Teton Valley recognizes that some community members and local nonprofits are still adversely affected by COVID-19.&nbsp;&nbsp;Although the primary focus of the Community Emergency Response Fund is still on front-line health and human service nonprofits, the Community Foundation is broadening the scope of the fund to also assist nonprofits whose services and beneficiaries continue to be impacted by the continued effects of COVID-19.</p>

<p><em>“We want to make sure that the broad range of services that are supported through our nonprofit community continue to be available,”</em>&nbsp;stated Tim Adams, Executive Director of the Community Foundation of Teton Valley.&nbsp;<em>“We always understood that the local effects of COVID-19 would be multi-stage, though it looks like it will be even longer than we initially thought.”</em></p>

<p>The Community Foundation of Teton Valley encourages nonprofits to apply for grants through this fund to ensure organizations can continue to assist maintaining vital services and programs in Teton Valley.</p>

<p>For those interested in contributing to the <a href="https://cftetonvalley.org/community-emergency-response-fund/">Community Emergency Response Fund</a>, we encourage you to donate at <a href="https://cftetonvalley.org/">www.cftetonvalley.org</a>. You can also mail a donation to:</p>

<p>Community Foundation of Teton Valley<br>Community Emergency Response Fund<br>P.O. Box 3737<br>Driggs, ID 83422</p>
        </div>

        <div class="post-detail__back">
          <a href="/news-events/" class="theme_btn theme_btn_bg">Back to News & Events <span></span></a>
        </div>

      </div>
    </div>
  </article>

  <section class="cta-banner">
    <div class="container">
      <div class="cta-banner__content">
        <h2 class="cta-banner__heading">Stay <span>in the loop</span></h2>
        <p class="cta-banner__text">Subscribe to our newsletter for grant announcements, event invites, and community stories.</p>
      </div>
      <div class="cta-banner__action">
        <a href="/get-involved/subscribe/" class="theme_btn theme_btn_bg theme_btn--light">Subscribe <span></span></a>
      </div>
    </div>
  </section>
</main>

{% include "footer.njk" %}
