---
layout: base.njk
title: "Tin Cup Challenge: Friends of the Teton River - Community Foundation of Teton Valley"
description: Living in Teton Valley can be challenging. The winters are long, shoulder seasons seem to stretch forever, and many make sacrifices to call this valley home. We
permalink: /news-events/tin-cup-challenge-friends-of-the-teton-river/
date: 2023-06-30T13:27:00
newsPost: true
newsTag: Tin Cup
newsExcerpt: Living in Teton Valley can be challenging. The winters are long, shoulder seasons seem to stretch forever, and many make sacrifices to call this valley home. We live here out …
newsImage: /assets/images/news/50883.webp
heroHeading: News & Events
heroText: ""
heroImage: /assets/images/news/50883.webp
---
{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main id="main-content">
  {% include "page-hero.njk" %}

  <article class="post-detail">
    <div class="container">
      <div class="post-detail__inner">

        <div class="post-detail__meta">
          <span class="post-card__tag">Tin Cup</span>
          <span class="post-detail__date">June 30, 2023</span>
        </div>

        <h1 class="post-detail__title">Tin Cup Challenge: Friends of the Teton River</h1>

        <div class="post-detail__featured-image">
          <img src="/assets/images/news/50883.webp" alt="Tin Cup Challenge: Friends of the Teton River" loading="lazy">
        </div>

        <div class="post-detail__content">
          <p>Living in Teton Valley can be challenging. The winters are long, shoulder seasons seem to stretch forever, and many make sacrifices to call this valley home. We live here out of love &#8211; for the valley, the mountains, the animals, the way of life, the rivers, and the streams. As we gear up for another glorious summer, we are reminded of the Teton River&#8217;s hold on our hearts. It is a source of beauty, a place for recreation, and a crucial habitat for countless species of plants and animals.&nbsp;&nbsp;</p>

<p>FTR staff pour our hearts into maintaining the health and vibrancy of the Teton Watershed, and we are fortunate to have a community of passionate supporters who give from the heart to ensure that the Teton Watershed continues to thrive for years to come. FTR is grateful to be a participant in the Community Foundation of Teton Valley&#8217;s Tin Cup Challenge for the 16th year running!&nbsp;&nbsp;</p>

<p>Funds from the Tin Cup Challenge have been crucial to our success over the years and have enabled a remarkable amount of work. This year alone, FTR staff and partners have accomplished the following projects:&nbsp;&nbsp;</p>

<ul>
<li>Our fisheries team is building and upgrading three major fish passage projects on Badger and South Leigh Creeks to improve migratory conditions for Yellowstone Cutthroat Trout.&nbsp;</li>

<li>Our restoration team has restored 3,700 feet of streambank on the Teton River and 2,800 feet on Fox Creek &#8211; adding over one mile of restored streambank!&nbsp;</li>

<li>Once again this summer, FTR&#8217;s education team is working with Teton County to educate river users about responsible recreation on one of this valley&#8217;s most precious resources.&nbsp;</li>
</ul>

<p>As a passionate advocate for this valley, we know you share the vision of healthy streams, clean water, and a thriving wild fishery. We are grateful for your support and the support of the Community Foundation of Teton Valley for playing a crucial role in ensuring that the watershed remains healthy and vibrant.&nbsp;</p>

<p>Thank you, and see you on the River!</p>
        </div>

        <div class="post-detail__back">
          <a href="/news-events/" class="theme_btn theme_btn_bg">Back to News & Events <span aria-hidden="true"></span></a>
        </div>

      </div>
    </div>
  </article>

  <section class="cta-banner">
    <div class="container">
      <div class="cta-banner__content">
        <h2 class="cta-banner__heading">Stay <span>in the loop</span></h2>
        <p class="cta-banner__text">Subscribe to our newsletter for grant announcements, event invites, and community stories.</p>
      </div>
      <div class="cta-banner__action">
        <a href="/get-involved/subscribe/" class="theme_btn theme_btn_bg theme_btn--light">Subscribe <span aria-hidden="true"></span></a>
      </div>
    </div>
  </section>
</main>

{% include "footer.njk" %}
