---
layout: base.njk
title: "Tin Cup Challenge: Education Foundation of Teton Valley - Community Foundation of Teton Valley"
description: When we have hope, we are able to see beyond our current circumstances and imagine a brighter future. The Community’s support last year helped to foster this se
permalink: /news-events/tin-cup-challenge-education-foundation-of-teton-valley/
date: 2023-07-01T13:39:00
newsPost: true
newsTag: Tin Cup
newsExcerpt: When we have hope, we are able to see beyond our current circumstances and imagine a brighter future. The Community’s support last year helped to foster this sense of hope …
newsImage: /assets/images/news/50885.webp
heroHeading: News & Events
heroText: ""
heroImage: /assets/images/news/50885.webp
---
{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main id="main-content">
  {% include "page-hero.njk" %}

  <article class="post-detail">
    <div class="container">
      <div class="post-detail__inner">

        <div class="post-detail__meta">
          <span class="post-card__tag">Tin Cup</span>
          <span class="post-detail__date">July 1, 2023</span>
        </div>

        <h1 class="post-detail__title">Tin Cup Challenge: Education Foundation of Teton Valley</h1>

        <div class="post-detail__featured-image">
          <img src="/assets/images/news/50885.webp" alt="Tin Cup Challenge: Education Foundation of Teton Valley" loading="lazy">
        </div>

        <div class="post-detail__content">
          <p>When we have hope, we are able to see beyond our current circumstances and imagine a brighter future. The Community’s support last year helped to foster this sense of hope within our public schools and our community. It has allowed the Education Foundation of Teton Valley to provide students with access to opportunities they’ve never experienced before. </p>

<p>We expanded our granting capacity by 400% over last year. This created stable funding for new programs from reading instruction to gardening classes in our schools. It set up teachers to bring in new forms of art education, culturally responsive music programs, intervention curriculum, and parent support. Students have more opportunities in our valley than ever before, because of this community.</p>

<p>We were able to strategically look at the future to anticipate challenges that will impact public education. This resulted in a new Collaborative for Early Learning to address the childcare crisis in our community. Using a collective impact approach, we were able to bring key players to the table which resulted in a million dollar grant to bring a new childcare center onto school district property that will increase childcare by 51% in our community. This will result in more students being ready for kindergarten and school district personnel will have access to affordable childcare, keeping key staff in our schools.&nbsp;</p>

<p>Elementary Art Teacher, Deidre Morris said, “I was one person with a big dream and I needed a lot of help. The Education Foundation not only provided the funds, but also the moral support to pursue this goal.” When teachers dream big, our students dream bigger. They reach higher. They go further. Our community makes this possible.&nbsp;</p>

<p>As we look to the future, we have a chance to build on this incredible sense of hope that has created momentum in our schools. Students are dreaming. Teachers and administrators are imagining how to make those dreams possible. Together, we can help them get there.&nbsp;</p>

<p>During this Tin Cup Challenge, the Education Foundation of Teton Valley needs your help. Every donation matters during the giving period from June 15<sup>th</sup>&#8211; July 21<sup>st</sup>. From $2 to $2 million, the Education Foundation has the processes in place to maximize your donation. Your donation will not only make our programs and supports possible in the next year, but it will also create hope. And that hope will allow our schools to see beyond their current circumstances and begin to build an even brighter future.&nbsp;</p>

<p>We invite you to be a part of this future with a donation to the Education Foundation of Teton Valley through the Tin Cup Challenge today.</p>
        </div>

        <div class="post-detail__back">
          <a href="/news-events/" class="theme_btn theme_btn_bg">Back to News & Events <span></span></a>
        </div>

      </div>
    </div>
  </article>

  <section class="cta-banner">
    <div class="container">
      <div class="cta-banner__content">
        <h2 class="cta-banner__heading">Stay <span>in the loop</span></h2>
        <p class="cta-banner__text">Subscribe to our newsletter for grant announcements, event invites, and community stories.</p>
      </div>
      <div class="cta-banner__action">
        <a href="/get-involved/subscribe/" class="theme_btn theme_btn_bg theme_btn--light">Subscribe <span></span></a>
      </div>
    </div>
  </section>
</main>

{% include "footer.njk" %}
