---
layout: base.njk
title: "Why It Matters: Friends of the Valley of the Tetons Library - Community Foundation of Teton Valley"
description: Submitted by Friends of the Valley of the Tetons Library This piece was originally published in the April 28, 2016 issue of the Teton Valley News as part of the
permalink: /news-events/why-it-matters-friends-of-the-valley-of-the-tetons-library/
date: 2016-04-29T15:00:46
newsPost: true
newsTag: Foundation
newsExcerpt: Submitted by Friends of the Valley of the Tetons Library This piece was originally published in the April 28, 2016 issue of the Teton Valley News as part of the …
newsImage: /assets/images/news/49359.webp
heroHeading: News & Events
heroText: ""
heroImage: /assets/images/news/49359.webp
---
{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main id="main-content">
  {% include "page-hero.njk" %}

  <article class="post-detail">
    <div class="container">
      <div class="post-detail__inner">

        <div class="post-detail__meta">
          <span class="post-card__tag">Foundation</span>
          <span class="post-detail__date">April 29, 2016</span>
        </div>

        <h1 class="post-detail__title">Why It Matters: Friends of the Valley of the Tetons Library</h1>

        <div class="post-detail__featured-image">
          <img src="/assets/images/news/49359.webp" alt="Why It Matters: Friends of the Valley of the Tetons Library" loading="lazy">
        </div>

        <div class="post-detail__content">
          <p>Submitted by Friends of the Valley of the Tetons Library</p>
<p><em>This piece was originally published in the April 28, 2016 issue of the Teton Valley News as part of the weekly Nonprofit Spotlight presented by the Community Foundation of Teton Valley.</em></p>
<p><span>While the Valley of the Tetons Library is supported by county tax dollars, the Friends of the Valley of the Tetons Library is a non-profit entity formed to support and enrich the library’s resources in service to the many patrons of the library. Our aim is to provide funding for equipment, renovations, and activities above and beyond what the county budget accommodates, in order to benefit our community through the library.</span></p>
<p><span>This is especially important as the role of our public library changes in the modern world – as well as providing access to traditional media like books, magazines, and newspapers, today’s library provides public access to the Internet and computers, some of which were purchased with money from the Friends. Many people come in every week to use the computers for job searches, preparing taxes and other kinds of documents, studying, taking proctored tests, and connecting to friends, family, and the world. Teton Valley’s libraries also provide a space for many community activities, such as a Spanish-English language exchange program, talks of general interest by locals, as well as programs that specifically benefit Senior Citizens, children, and young people.</span></p>
<p><span>Last summer, the Friends of the Valley of the Tetons library provided funding to both the Victor and Driggs libraries for the popular summer reading program, which served over 230 children and grows each year. Program Director Rasheil Stanger used the money to stock the end-of-program “store” with more educational and valuable items than are typically available. This is a great program that encourages elementary school kids to keep reading over their summer break through activities and other incentives, thus helping kids reduce the “summer slide” and keep their minds working.</span></p>
<p><span>Most recently, the Friends of the Library provided funds to both locations of the library to purchase items that encourage interest in STEM (Science, Technology, Engineering, and Math) education. Studies show that fewer students in the US are entering STEM fields, even while jobs in those fields are increasing. The equipment purchased recently by the library and the wonderful activities in both Driggs and Victor have provided hands-on experiences to hundreds of Teton Valley children. Equipment includes a 3D printer, Arduino and Raspberry Pi (computer programming), Lego Mindstorms (robot building and programming), Makey Makey and littleBits (electronics invention kits), Keva and Lego building blocks, and art supplies, to name a few.</span></p>
<p><span>Weekly activities make these items available to children of all ages. Maker Monday (3:00 pm on Mondays at the Victor library) reaches 130 kids who come to the library and explore learning within the STEM or STEAM parameters (STEAM includes “Arts”). The Driggs location has Tech Friday (3:30 pm on Fridays), where kids of all ages learn to code, build and create programs.</span></p>
<p><span>Library Maker Space, which includes all of these exciting materials, is open essentially every day. The libraries have different robots, Legos, and other building materials available at any time for use in the library to promote learning and thinking. Patrons just need to ask a librarian for access. The 3D printer is also available for use for just the cost of materials. It’s located in the Victor library. Sign up with a librarian to use it. This level of access to hands-on technology is unprecedented, thanks to the generosity of our community to the Friends of the Valley of the Tetons Library.</span></p>
<p><span>The Friends of the Valley of the Tetons Library continues to support the library in many ways. The basement in the Victor library is receiving a much-needed renovation – there are new cupboards and a new refrigerator and soon there will be a new, much larger window in the basement to make it safer by providing an egress and to provide a more pleasant environment and natural light for the many activities held there. Both locations have purchased large TVs with Friends of the Library funds that are used in presentations and meetings.</span></p>
<p><span>It’s easy to get involved with the Friends of the Library. Go to our website at <a href="http://friendsofthevtl.wordpress.com/" target="_blank" rel="noopener noreferrer nofollow">http://friendsofthevtl.wordpress.com/</a> to fill out a contact form (click on “How to get involved”) or give your contact information to any librarian. We can always use help organizing donated books and staffing our used book sales in April, July, and December. We also sponsor a summer family picnic with a local illustrator or author each year. We at the Friends of the Valley of the Tetons Library love to foster and support the mission and goals of our local Valley of the Tetons Library.</span></p>
<p><em>If you are affiliated with a Teton Valley nonprofit, we want to hear from you! Help us share why Teton Valley nonprofits matter. Each week, the Community Foundation will highlight a local nonprofit in the pages of the Teton Valley News.  Email Dawn Banks, Marketing and Programs Director, at </em><a href="mailto:dbanks@cftetonvalley.org"><em>dbanks@cftetonvalley.org</em></a><em> or call 208.354.0230.  We look forward to helping share your story and join the conversation on social media using #WhyItMatters!</em></p>
        </div>

        <div class="post-detail__back">
          <a href="/news-events/" class="theme_btn theme_btn_bg">Back to News & Events <span aria-hidden="true"></span></a>
        </div>

      </div>
    </div>
  </article>

  <section class="cta-banner">
    <div class="container">
      <div class="cta-banner__content">
        <h2 class="cta-banner__heading">Stay <span>in the loop</span></h2>
        <p class="cta-banner__text">Subscribe to our newsletter for grant announcements, event invites, and community stories.</p>
      </div>
      <div class="cta-banner__action">
        <a href="/get-involved/subscribe/" class="theme_btn theme_btn_bg theme_btn--light">Subscribe <span aria-hidden="true"></span></a>
      </div>
    </div>
  </section>
</main>

{% include "footer.njk" %}
