---
layout: base.njk
title: "Why It Matters: Teton Valley Ski Education Foundation - Community Foundation of Teton Valley"
description: Submitted by TVSEF This piece was originally published in the March 10, 2016 issue of the Teton Valley News as part of the weekly Nonprofit Spotlight presented 
permalink: /news-events/why-it-matters-teton-valley-ski-education-foundation/
date: 2016-03-11T16:12:04
newsPost: true
newsTag: Foundation
newsExcerpt: Submitted by TVSEF This piece was originally published in the March 10, 2016 issue of the Teton Valley News as part of the weekly Nonprofit Spotlight presented by the Community …
newsImage: /assets/images/news/49345.webp
heroHeading: News & Events
heroText: ""
heroImage: /assets/images/news/49345.webp
---
{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main>
  {% include "page-hero.njk" %}

  <article class="post-detail">
    <div class="container">
      <div class="post-detail__inner">

        <div class="post-detail__meta">
          <span class="post-card__tag">Foundation</span>
          <span class="post-detail__date">March 11, 2016</span>
        </div>

        <h1 class="post-detail__title">Why It Matters: Teton Valley Ski Education Foundation</h1>

        <div class="post-detail__featured-image">
          <img src="/assets/images/news/49345.webp" alt="Why It Matters: Teton Valley Ski Education Foundation" loading="lazy">
        </div>

        <div class="post-detail__content">
          <p><strong>Submitted by TVSEF</strong></p>
<p><em>This piece was originally published in the March 10, 2016 issue of the Teton Valley News as part of the weekly Nonprofit Spotlight presented by the Community Foundation of Teton Valley.</em></p>
<p><span>In the early 1970’s a group of motivated parents joined forces to put together a ski racing program for their children. In 1978 that group officially became the Teton Valley Ski Education Foundation. Over the years, we have remained true to that original goal of serving youth in skiing, while providing opportunities for competition. Since those humble beginnings, we have grown to serving over 170 youth athletes training in our program offerings of Alpine Racing, Alpine Freeride, Snowboarding, and Nordic Skiing. In addition to that, we hold events for 450 people, mostly youth, during the winter season. Our 27 coaches interact with athletes seven days a week from October to April.</span></p>
<p><span>Throughout our almost 40 years of operation we have been supported by core groups of parents that have gone beyond simply getting their children to the race or competition by serving as role models and creating a true community culture among our ski/snowboard club. Truly exemplifying that it takes a whole village to raise a child, we believe that skiing is about more than just results and see healthy competition as a way to achieve that means through our four programs.</span></p>
<p><span>“Being a part of TVSEF truly means being a part of the ski and snowboard community in Teton Valley. We deal with skiing/snowboarding and technique but invariably become involved with these kids learning to work together on a team, support each other through difficult times, and figure out who they will become,” said Corey McGrath, Teton Valley Ski Education Foundation Executive Director.</span></p>
<p><span>Since the beginning we have recognized that skiing and snowboarding are not without cost. We provide scholarships to aspiring athletes trying to reach their potential for competition and training. This 2015-16 season we provided scholarships for 17 athletes in Freeride, Snowboarding, and Nordic Skiing. Due to the generosity of the Tin Cup Challenge, we have been able to add to the scholarship fund consistently, doubling it over the past three years. A special thanks must also go to our individual Scholarship Fund donors, John and Susan Love and Bill and Emery Royall.</span></p>
<p><span>We simply could not be so successful without the community support of organizations like the Community Foundation of Teton Valley. “Having the Tin Cup Challenge available to Teton Valley nonprofits allows us to focus on what we really love: delivering the mission of our organization,” added McGrath. As well, the support from the local business community is essential to nonprofits. TVSEF simply could not function without the immeasurable support of Grand Targhee Resort; from grooming to event help. TVSEF also works closely with the personnel of Grand Targhee Resort and supremely appreciates their support.</span></p>
<p><span>Not limiting ourselves to the snowy part of the season, we’re running our second year of a youth mountain bike camp this summer in July, as well as other off snow offerings. To find out more about why we matter to the community, check us out on our website at <span><a href="http://www.tvsef.org/" target="_blank" rel="noopener noreferrer">www.tvsef.org</a></span>.</span></p>
<p><em>If you are affiliated with a Teton Valley nonprofit, we want to hear from you to help share why it matters. Each week, the Community Foundation will highlight a local nonprofit in the pages of the Teton Valley News.  Email Dawn Banks, Marketing and Programs Director, at </em><a href="mailto:dbanks@cftetonvalley.org"><em>dbanks@cftetonvalley.org</em></a><em> or call 208.354.0230.  We look forward to helping share your story! You can continue the conversation on social media using #WhyItMatters.</em></p>
        </div>

        <div class="post-detail__back">
          <a href="/news-events/" class="theme_btn theme_btn_bg">Back to News & Events <span></span></a>
        </div>

      </div>
    </div>
  </article>

  <section class="cta-banner">
    <div class="container">
      <div class="cta-banner__content">
        <h2 class="cta-banner__heading">Stay <span>in the loop</span></h2>
        <p class="cta-banner__text">Subscribe to our newsletter for grant announcements, event invites, and community stories.</p>
      </div>
      <div class="cta-banner__action">
        <a href="/get-involved/subscribe/" class="theme_btn theme_btn_bg theme_btn--light">Subscribe <span></span></a>
      </div>
    </div>
  </section>
</main>

{% include "footer.njk" %}
