---
layout: base.njk
title: "Sign Up for Our Newsletter - Community Foundation of Teton Valley"
description: "Sign Up for Our Newsletter embed page."
permalink: /sign-up-for-our-newsletter/
---

{% include "utility-nav.njk" %}
{% include "header.njk" %}

<main id="main-content">
  <div style="width: 100%; margin: 0; padding: 0;">
    <h1 class="text-center" style="padding: 40px 20px 20px;">Subscribe to news from the Community Foundation of Teton Valley</h1>
    <iframe
      src="https://legacy.cftetonvalley.org/sign-up-for-our-newsletter/?cftv_embed=1"
      width="100%"
      height="700"
      frameborder="0"
      scrolling="yes"
      style="border: none; display: block; min-height: 700px; overflow: auto;"
      title="Sign Up for Our Newsletter"
    ></iframe>
  </div>
</main>

{% include "footer.njk" %}
